/* add padding to header to remove empty bottom space in scroll section */
header {
  padding: 20px 0 0 0;
}

body {
  padding-top: 66px;
}

.navbar {
  border-bottom: 1px solid black;
}
/* Banner background image */
#section1 {
  background-image: url("/img/Banner.png");
  background-size: cover;
}
/* 2 horizontal lists */
ul.horizontal-list1 {
  list-style-type:none;
}

ul.horizontal-list1 li {
  display: inline;
  margin: 10px;
}

ul.horizontal-list1 li img {
  margin-top: 15vh;
  height: 10vh;
  width: 10vw;
}

ul.horizontal-list2 {
  list-style-type:none;
  margin-top: 5vh;
}

ul.horizontal-list2 li {
  display: inline;
  margin: 10px;
}

ul.horizontal-list2 li img {
  height: 10vh;
  width: 12vw;
}
/* add margin between justified buttons */
.btn-group-justified {
  border-spacing: 10px;
}

/* hr with style */
hr.style { 
  border: 0; 
  height: 2px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

/* dropdown-submenu */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* slide property */
.slides {
  cursor: move;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1000px;
  height: 500px;
}

/* image slide caption */
.caption {
  position: absolute;
  top: 420px;
  left: 50px;
  width: 900px;
  height: 40px;
  background-color: Black;
  opacity: 0.7;
}

.caption-text {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 900px;
  height: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
}

.caption-text a {
  color: #ff9933;
  font-weight: bold;
}

/* jssor slider arrow navigator skin 09 css */
/*
.jssora09l                  (normal)
.jssora09r                  (normal)
.jssora09l:hover            (normal mouseover)
.jssora09r:hover            (normal mouseover)
.jssora09l.jssora09ldn      (mousedown)
.jssora09r.jssora09rdn      (mousedown)
*/
.jssora09l, .jssora09r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url(/img/a09.png) no-repeat;
    overflow: hidden;
    opacity: .4;
    filter: alpha(opacity=40);
}
.jssora09l { background-position: -5px -35px; }
.jssora09r { background-position: -65px -35px; }
.jssora09l:hover { background-position: -5px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssora09r:hover { background-position: -65px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssora09l.jssora09ldn { background-position: -5px -35px; opacity: .3; filter:alpha(opacity=30); }
.jssora09r.jssora09rdn { background-position: -65px -35px; opacity: .3; filter:alpha(opacity=30); }

/* jssor slider bullet navigator skin 01 css */
/*
.jssorb01 div           (normal)
.jssorb01 div:hover     (normal mouseover)
.jssorb01 .av           (active)
.jssorb01 .av:hover     (active mouseover)
.jssorb01 .dn           (mousedown)
*/
.jssorb01 {
    position: absolute;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
    position: absolute;
    /* size of bullet elment */
    width: 12px;
    height: 12px;
    filter: alpha(opacity=70);
    opacity: .7;
    overflow: hidden;
    cursor: pointer;
    border: #000 1px solid;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }


/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}
/* jump to right position */
.anchor {
  display: block;
  height: 65px;
  margin-top: -65px;
  visibility: hidden;
}

/* css letter effect */
.letter {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  max-width: 1000px;
  min-height: 300px;
  padding: 24px;
  position: relative;
  width: 100%;
}
.letter:before, .letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.letter:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.letter:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}

/* flip panel animation */
.panel {
  width: 20vw;
  height: 35vh;
  font-size: .9em;

  -webkit-perspective: 600px;
  -moz-perspective: 600px;
          perspective: 600px;
}
.panel p { color: #dddddd; }
.panel b { color: #dddddd; }
/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel .front {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  border: 1px solid #ccc;
  background: #6b7077;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0,0,0,1);

  -webkit-transform: rotateX(0deg) rotateY(0deg);
     -moz-transform: rotateX(0deg) rotateY(0deg);
          transform: rotateX(0deg) rotateY(0deg);

  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;

  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;

  /* -- transition is the magic sauce for animation -- */
  -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
}
.panel.flip .front {
  z-index: 900;
  border-color: #eee;
  background: #333;
  box-shadow: 0 15px 50px rgba(0,0,0,0.2);

  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.panel .back {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  border: 1px solid #ccc;
  background: #333;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);

  -webkit-transform: rotateY(-180deg);
     -moz-transform: rotateY(-179deg); /* setting to 180 causes an unnatural-looking half-flip */
          transform: rotateY(-179deg);

  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;

  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;

  /* -- transition is the magic sauce for animation -- */
  -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
}

.panel.flip .back {
  z-index: 1000;
  background: #80868d;

  -webkit-transform: rotateX(0deg) rotateY(0deg);
     -moz-transform: rotateX(0deg) rotateY(0deg);
          transform: rotateX(0deg) rotateY(0deg);

  box-shadow: 0 15px 50px #2f3239;
}


/* keep footer at the bottom of web page */
/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent Chrome, Opera, and Safari from
 *    letting these items shrink to smaller than their content's default
 *    minimum size.
 */
.Site {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 1 */
}
.Site-header,
.Site-footer {
  flex-shrink: 0; /* 2 */
}
.Site-content {
  flex: 1 0 auto; /* 2 */
}

/* footer styles */
footer {
  margin-top: 60px;
  background-color: #2f3239;
}

footer p{
  color: #c0c0c1
}

footer a{
  color: white;
}

footer a:hover{
  color: #c0c0c1;
}
/* Vertical alignment  */
.Aligner {
  display: flex;
  align-items: center;
  min-height: 24em;
  justify-content: center;
}

.Aligner-item {
  flex: 1;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.Aligner-item--fixed {
  flex: none;
  max-width: 50%;
}

/* media query */
@media screen and (max-width: 768px){
  .desktop-brand {
    display: none;
  }
}

@media screen and (min-width: 768px){
  .mobile-brand {
    display: none;
  }
}