/** topbar background, border **/
.top-bar {
    background:;
    margin-bottom: 10px;
}
 
/** menu bar **/
.top-bar-section ul {
    background:;
}
 
/** menu item **/
.top-bar-section li a:not(.button) {
}

/* slide image size */
.slick-slide{
	width: 40vw;
	height: 70vh;
}
