---
layout: default
permalink:
---

<div class="container">
	<div class="row">
		<center><h3>Actualités</h3></center>
		{{ paginator.cemosis }}
		{% for post in paginator.cemosis %}
				{% if post.categories != seminar and post.categories != event %}
					{% include news.html %}
				{% endif %}
		{% endfor %}

		<!-- Pagination links -->
		{% if paginator.total_pages > 1 %}
		<center>
  		{% if paginator.previous_page %}
    		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Précédente</a>
  		{% else %}
    		<span>&laquo; Précédente</span>
  		{% endif %}

  		{% for page in (1..paginator.total_pages) %}
    	{% if page == paginator.page %}
      	<em>{{ page }}</em>
    	{% elsif page == 1 %}
      	<a href="/news_/">{{ page }}</a>
    	{% else %}
      	<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    	{% endif %}
  		{% endfor %}

  		{% if paginator.next_page %}
    		<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Suivante &raquo;</a>
  		{% else %}
    		<span>Suivante &raquo;</span>
  		{% endif %}
		</center>
		{% endif %}
		

	</div>
</div>