---
layout: default
permalink: /event/
---

<div class="container">
	<div class="row">

		<h3>Évènements à venir</h3>

		<ul>
		{% for post in site.categories.event %}
			{% if post.date > site.time %}
				<li>{{ post.title }} - {{ post.period }} - <a href="{{ post.url }}">lien</a></li>
			{% endif %}
		{% endfor %}
		</ul>

		<hr class="style">
		<h3>Évènements passés</h3>
		<ul>
		{% for post in site.categories.event %}
			{% if post.date < site.time %}
				<li>{{ post.title }} - {{ post.period }} - <a href="{{ post.url }}">lien</a></li>
			{% endif %}
		{% endfor %}
		<li>Semaine d'Etudes Mathématiques Entreprise - 23-27/06/14 - <a href="http://seme.cemosis.fr/">lien</a>
		</ul>
	</div>
</div>