<footer class="Site-footer">

  <div class="container" style="padding-top:30px">
    <div class="row">

      <div class="col-md-4">
          <p>© Cemosis 2015 Tous droits réservés.</p>
      </div>

      <div class="col-md-4">
      </div>

      <div class="col-md-2">
        <a href="/contact/">Contact et plans</a>
      </div>

      <div class="col-md-2">
        <a href="/presentation/legal/">Mention légales</a>
      </div>

    </div>

    <div class="row">

      <div class="col-md-8">
        <p class="rss-subscribe right">S'abonner à notre flux <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
      </div>

      <div class="col-md-4">
      </div>
    </div>
  </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39841210-1', 'auto');
  ga('send', 'pageview');

</script>
