<footer class="row">
  <div class="large-12 columns"><hr>
    <div class="row">

      <div class="large-6 columns">
          <p>© Cemosis 2015 Tous droits réservés.</p>
      </div>

      <div class="large-6 small-12 columns">
          <ul class="inline-list right">
            <li><a href="/contact/">Contact et plans</a></li>
            <li><a href="#">Plan du site</a></li>
            <li><a href="/legal/">Mention légales</a></li>
          </ul>
      </div>
    </div>

    <p class="rss-subscribe right">S'abonner à notre flux <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
  </div>
</footer>
