<footer class="footer" style="border-top:1px solid black; margin-top:50px">

  <div class="container" style="padding-top:30px">
    <div class="row">
      
      <div class="col-md-4">
          <p>© Cemosis 2015 Tous droits réservés.</p>
      </div>

      <div class="col-md-4">
        <a href="/contact/">Contact et plans</a>
      </div>

      <div class="col-md-4">  
        <a href="/presentation/legal/">Mention légales</a>
      </div>

    </div>

    <div class="row">

      <div class="col-md-8"></div>

      <div class="col-md-4">
      <p class="rss-subscribe right">S'abonner à notre flux <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
      </div>
    </div>
  </div>    
</footer>
