<header>

   <nav class="top-bar" data-topbar>
     <ul class="title-area">

       <li class="name">
         <h1>
           <a href="/">
             Cemosis
           </a>
         </h1>
       </li>
       <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
     </ul>

     <section class="top-bar-section">

       <ul class="right">
         <li class="divider"></li>
         <li class="has-dropdown">
           <a href="/">Vie de Cemosis</a>
           <ul class="dropdown">
             <li><a href="/news_/">Actulaités</a></li>
             <li><a href="/event/">&Eacute;vènements</a></li>
             <li><a href="/publication/">Publications</a></li>
             <li><a href="/seminar/">Séminaires</a></li>
           </ul>
         </li>
         <li class="divider"></li>
         <li class="has-dropdown">
           <a href="/presentation/">Qui sommes-nous?</a>
           <ul class="dropdown">
             <li><a href="/legal/">Mentions légales</a></li>
             <li><a href="/partnership/">Partenaires</a></li>
             <li><a href="/funding/">Financements</a></li>
             <li><a href="/activity/">Rapport d'Activités</a></li>
           </ul>
         </li>

         <li class="divider"></li>
         <li class="has-dropdown">
           <a href="/project/">Projets</a>
           <ul class="dropdown">
             <li><a href="/entreprise/">Entreprise</a></li>
             <li><a href="/interdisciplinary/">Interdisciplinaires</a></li>
           </ul>
         </li>
         <li class="divider"></li>
         <li class="has-dropdown">
           <a href="/training/">Formation</a>
           <ul class="dropdown">
             <li><a href="http://csmi.math.unistra.fr/">Master Calcul Scientifique et Mathématiques de l'Information</a></li>
             <li><a href="//">Formations continues</a></li>
           </ul>
         </li>
         <li class="divider"></li>
         <li><a href="/platform/">Platform</a></li>
       </ul>
     </section>
   </nav>

</header>
