<header>
  <div class="fixed">
   <nav class="top-bar" data-topbar>
     <ul class="title-area">
       <li class="name">
         <h1>
           <a href="/">
             Cemosis
           </a>
         </h1>
       </li>
       <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
     </ul>

     <section class="top-bar-section">

       <ul class="right">
         <li class="divider"></li>
         <li class="has-dropdown {% if page.url contains 'index' %}active{% endif %}">
           <a href="/">Vie de Cemosis</a>
           <ul class="dropdown">
             <li><a href="/news_/">Actulaités</a></li>
             <li><a href="/event/">&Eacute;vènements</a></li>
             <li><a href="/publication/">Publications</a></li>
             <li><a href="/seminar/">Séminaires</a></li>
           </ul>
         </li>
         <li class="divider"></li>
         <li class="has-dropdown {% if page.url contains '/presentation/' %}active{% endif %}">
           <a href="/presentation/">Qui sommes-nous?</a>
           <ul class="dropdown">
             <li><a href="/presentation/legal/">Mentions légales</a></li>
             <li><a href="/presentation/partnership/">Partenaires</a></li>
             <li><a href="/presentation/funding/">Financements</a></li>
             <li><a href="/presentation/activity/">Rapport d'Activités</a></li>
           </ul>
         </li>

         <li class="divider"></li>
         <li class="has-dropdown {% if page.url contains '/project/' %}active{% endif %}">
           <a href="/project_/">Projets</a>
           <ul class="dropdown">
             <li><a href="/project_/entreprise/">Entreprise</a></li>
             <li><a href="/project_/interdisciplinary/">Interdisciplinaires</a></li>
           </ul>
         </li>
         <li class="divider"></li>
         <li class="has-dropdown {% if page.url contains '/training/' %}active{% endif %}">
           <a href="/training/">Formation</a>
           <ul class="dropdown">
             <li><a href="http://csmi.math.unistra.fr/">Master Calcul Scientifique et Mathématiques de l'Information</a></li>
             <li><a href="/training/student/">Formations étudiants</a></li>
             <li><a href="/training/continuing-education/">Formations continues</a></li>
           </ul>
         </li>
         <li class="divider"></li>
         <li class="has-dropdown {% if page.url contains '/platform/' %}active{% endif %}"><a href="/platform/">Platform</a>
          <ul class="dropdown">
            <li class="has-dropdown">
              <a href="/platform/services">Services</a>
              <ul class="dropdown">
                <li class="has-dropdown"><a href="/platform/atlas/">Atlas</a>
                  <ul class="dropdown">
                    <li><a href="/platform/atlas/account/">Demande de Compte</a></li>
                    <li><a href="/platform/atlas/vm/">Machine virtuelle</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
         </li>
       </ul>
     </section>
   </nav>
  </div>
</header>
