      <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="hover panel">
          <div class="front">
            <div class="pad">
              <img src="{{ post.img }}" class="panel-img">
              <b>{{ post.name }}</b>
              <p>{{ post.title }}</p>
            </div>
          </div>
          <div class="back">
            <div class="pad">
              <p style="margin:5px">{{ post.abstract }}</p>
              <p style="margin:5px;text-align: center"><a href="{{ post.url }}">En savoir +</a></p>
              <p style="margin:5px;">{{ post.collaborator }}</p>
            </div>
          </div>
      </div>
      </div>