<div class="row">
  <div class="large-12 columns">

    <div class="row">
      <div class="large-12 hide-for-small">

        <div id="Glide" class="glide">

          <div class="glide__arrows">
              <span class="glide__arrow prev" data-glide-dir="<">prev</span>
              <span class="glide__arrow next" data-glide-dir=">">next</span>
          </div>

          <div class="glide__wrapper">
              <ul class="glide__track">
              {% for img in site.data.slide.img %}
                  <li class="glide__slide">
                    <img src="{{ img.path }}">
                  </li>
              {% endfor %}
              </ul>
          </div>

          <ul class="glide__bullets"></ul>

        </div>
      </div>
    </div>





    <div class="row">
      <div class="large-12 columns show-for-small">

        <img src="http://placehold.it/1200x700&text=Mobile Header">

      </div>
    </div><br>


  </div>
</div>
