<div id="fullpage">

<div class="section" id="section1">
  <div class="container">
    <div class="row-fluid  Aligner">
    <div class="Aligner-item">
    <h1><font color="#92c4ba">Ce</font><font color="#e0b036">mo</font><font color="#c23351">si</font><font color="#92c4ba">s</font></h1> 
    <h4>Le <font color="#92c4ba">Centre</font> de <font color="#e0b036">Modélisation</font> et de <font color="#c23351">Simulation</font> de <font color="#92c4ba">Strasbourg</font>, est une structure à l'interface avec les disciplines et les entreprises nécessitant la modélisation et la simulation numérique.</h4>
    </div>
    </div>
  </div>


  <div class="row-fluid">
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" style="position: absolute;bottom: 0;height:18vh;background-color:#2f3239">
      <div id="news-panel" style="text-align:center;padding:4vh">
        
        <ul class="news-list">
          {% for post in site.tags.cemosis limit:5 %}
              <li><p style="color:silver">Actualité: <a href="{{ post.url }}" style="color:white">{{ post.title }}</a></p></li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>
</div>

<div class="section" id="slide-section">
  <div class="container">
    <div class="row">
      <center>
      <h4>Cemosis en images</h4>
      </center>
      <div class="col-md-1"></div>
      <div class="col-md-10">
      <div id="slider_container" style="position:relative;width:1000px;height:500px;">
        <!-- Loading Screen -->
        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;top: 0px; left: 0px;width: 100%;height:100%;">
            </div>
            <div style="position: absolute; display: block; background: url(/img/loading.gif) no-repeat center center;
                top: 0px; left: 0px;width: 100%;height:100%;">
            </div>

        </div>

        <div u="slides" class="slides">
        {% for img in site.data.slide.img %}
          <div>
            <img u="image" src="{{ img.path }}" />
            <div u="caption" class="caption" t="NO" t2="MCLIP|B">
              <div class="caption-text">
                {{ img.description }} <a href='{{ img.url }}'>En savoir +</a>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora09l" style="left: 30px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora09r" style="right: 30px;">
        </span>

        <div u="navigator" class="jssorb01" style="bottom: 1px">
            <!-- bullet navigator item prototype -->
            <div u="prototype"></div>
        </div>

      </div>
      </div>
      <div class="col-md-1"></div>

    </div>
  </div>
</div>

<div class="section" id="intro-section">
  <div class="container">
    <div class="row">
      <center>
      <h4>Cemosis en vidéos</h4>
        <div style="width:70vw;height:70vh">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/d1t9AFSCPMo?list=PLigsLWCja8pyIXKZklmtj9-_XBSfM6kD2" frameborder="0" allowfullscreen></iframe>
        </div>
      </center>
    </div>
  </div>
</div>

<div class="section" id="project-section">
  <div class="container">
    <div class="row">
      

      {% for post in site.categories.entreprise-project limit:3 %}
      <div class="col-md-4">
        <h4>{{ post.name }}</h4>
        <h6>{{ post.title }}</h6>
      </div>
      {% endfor %}
    </div>
    <center><h4>Nos projets</h4></center>
    <div class="row">
      
    </div>
  </div>
</div>

<div class="section">
    <div class="row-fluid">
      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" style="position:absolute;top: 0;height:50vh;background-color:#f8f9fa">
        <ul class="horizontal-list1" style="float:left">
          <li>
          <a href="https://www.unistra.fr/" class="hvr-bounce-in"><img src="https://www.unistra.fr/fileadmin/templates/unistra-v2/images/logo.png"></a>
          </li>
          <li>
            <a href="http://www-irma.u-strasbg.fr/" class="hvr-bounce-in"><img src="/img/logoIRMA.png"></a>
          </li>
          <li>
            <a href="http://www.agence-maths-entreprises.fr/a/" class="hvr-bounce-in"><img src="/img/logo_amies_ss-developpe_Q.png"></a>
          </li>
          <li>
            <a href="http://icube.unistra.fr/" class="hvr-bounce-in"><img src="http://icube.unistra.fr/fileadmin/templates/DUN/icube/images/logo.png"></a>
          </li>
        </ul>
        <div style="clear:both"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"><h4>Partenaires</h4></div>
        <div class="col-md-4"></div>
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" style="position:absolute;bottom:0;height:50vh;background-color:#D0DEDB">
        <div class="col-md-6"></div>
        <div class="col-md-2" style="margin-top:5vh">
          <h4>Financements</h4>
        </div>
        <div class="col-md-4"></div>

        <ul class="horizontal-list2" style="float:right;">
          <li>
          <a href="http://labex-irmia.u-strasbg.fr/" class="hvr-bounce-in"><img src="/img/logo_LabexIrmia_4.png"></a>
          </li>
          <li>
            <a href="http://investissement-avenir.gouvernement.fr/" class="hvr-bounce-in"><img src="/img/Investissements4.png"></a>
          </li>
          <li>
            <a href="http://www.agence-nationale-recherche.fr/" class="hvr-bounce-in"><img src="/img/ANR07.jpg"></a>
          </li>
          <li>
            <a href="http://www.enseignementsup-recherche.gouv.fr/" class="hvr-bounce-in"><img src="http://cache.media.enseignementsup-recherche.gouv.fr/image/Global/16/8/Logo_MENESR_312537_313168.jpg"></a>
          </li>
        </ul>
      </div>
    </div>
</div>


<div class="section" id="intro-section-bis">
  <div class="container">
  <div class="row-fluid">
    <h4>Cemosis articule son action autour de 3 axes:</h4>
    <ul>
      <li>la mise en place d'<b>équipes</b> alliant les expertises nécessaires en modélisation et simulation pour accompagner des <b>projets multi-disciplinaires</b></li>
      <li>la mise en place de formations initiales et continues en modélisation et <b>simulation</b></li>
      <li>la création de <b>liens forts</b> avec le <b>milieu industriel</b> alsacien en matière de modélisation et simulation.</li>
    </ul>

    <hr class="style">
    <h4><b>Contexte national</b></h4>
    <h6><b>Modélisation et Simulation</b></h6>

      <p>Des structures avec des ambitions similaires ont été créées en France telle que</p>
      <ul>
        <li><a href="http://www.maimosine.fr/">MaiMoSiNE</a> à Grenoble</li>
        <li><a href="http://www.maisondelasimulation.fr/">Maison de la Simulation</a> à Orsay</li>
        <li><a href="http://www.ics.upmc.fr/">Institut du Calcul et de la Simulation</a> à Paris</li>
      </ul>
    
    <h6><b>Mathématiques et Entreprise</b></h6>

      <p>Concernant l'interface Mathématique Entreprises, Cemosis se veut le relai régional d'<a href="http://www.agence-maths-entreprises.fr/">AMIES</a> (Agence des Mathématiques en Interaction avec l'Entreprise et la Société)</p>
      
  </div>
  </div>
</div>

</div>