        <div class="hover p-panel">
          <div class="p-front">
            <div class="p-pad">
              <img src="{{ post.img }}" class="p-panel-img">
              <b>{{ post.name }}</b>
              <p>{{ post.title }}</p>
            </div>
          </div>
          <div class="p-back">
            <div class="p-pad">
            <p style="margin:5px">{{ post.abstract }}<p>
            <p style="margin:5px;">Partenaires: {{ post.collaborator }}</p>
            <p style="margin:5px;text-align: center"><a href="{{ post.url }}">En savoir +</a></p>
            </div>
          </div>
        </div>
