
  <div class="hover panel">
    <div class="front">
      <div class="pad">
        <img src="{{ post.img }}" style="height:25vh;width:20vw">
        <b>{{ post.name }}</b>
        <p>{{ post.title }}</p>
      </div>
    </div>
    <div class="back">
      <div class="pad">
        {% if post.categories != interdisciplinary-bio-project and post.categories != interdisciplinary-physics-project %}
        <p style="margin:5px">{{ post.abstract }}<p>
        <p style="margin:5px;text-align: center"><a href="/project_/entreprise/#{{ post.name }}">En savoir +</a></p>
        {% else %}
        <p style="margin:5px">{{ post.abstract }}</p>
        <p style="margin:5px;text-align: center"><a href="/project_/interdisciplinary/#{{ post.name }}">En savoir +</a></p>
        {% endif %}
      </div>
    </div>
  </div>
