<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/foundation.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.min.js"></script>




<!-- slide show -->
<script>
$(document).ready(function(){
  $('.slide').slick({
  	variableWidth: true,
  	variableHight: true,
  	accessibility: true,
  	autoplay: true,
  	autoplaySpeed: 2000,
  	arrows: true,
  	prevArrow: 'Précédant',
  	nextArrow: 'Suivant',
  	respondTo: 'window',
  	centerMode: true,
  	dots: true,
  	focusOnSelect: true,
  	infinite: true,
  	mobileFirst: true
  });
});
</script>

<script>
  $(document).foundation();
</script>