<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="/js/slippry.min.js"></script>

<!-- slide show -->
<script>
	$(document).ready(function(){
		jQuery('#gallery').slippry({
			adaptiveHeight: false,
			slideshow: true,
			loop: true
		});
	});
</script>


<script>
jQuery(function($) {
    if($(window).width()>769){
        $('.navbar .dropdown').hover(function() {
            $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();

        }, function() {
            $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();

        });

        $('.navbar .dropdown > a').click(function(){
            location.href = this.href;
        });

    }
});
</script>
