<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="/js/jquery.fullPage.min.js"></script>

<script src="/js/slippry.min.js"></script>

<!-- fullpage scroll -->
<script>
$(document).ready(function() {
    $('#fullpage').fullpage({
        scrollBar: true,
        navigation: true,
        navigationPosition: 'right',
        sectionsColor: ['lightgrey', 'white', 'lightgrey'],
        responsiveWidth: 900,
        css3: true,
        loopBottom: false,
        loopTop: false,
        fitToSection: true,
        fitToSectionDelay: 1000,
        normalScrollElements: '#intro-section-bis'
        });
});
</script>

<!-- slide show -->
<script>
	$(document).ready(function(){
		jQuery('#gallery').slippry({
			adaptiveHeight: false,
			slideshow: true,
			loop: true
		});
	});
</script>


<script>
jQuery(function($) {
    if($(window).width()>769){
        $('.navbar .dropdown').hover(function() {
            $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();

        }, function() {
            $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();

        });

        $('.navbar .dropdown > a').click(function(){
            location.href = this.href;
        });

    }
});
</script>