<div class="letter" style="margin-top:50px;margin-bottom:50px">

  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>	
  <hr class="style">
  <div class="ribbon ribbon-right ribbon-in">
    <div class="ribbon-stitch">
      <div class="ribbon-fabric">
	<p>{{ post.date_time_html }}</p>
      </div>
      <div class="ribbon-top-right"></div>
      <div class="ribbon-bottom-right"></div>
    </div>
  </div>
  <h3>Intervenant(s)/e(s)</h3>
  {{ post.speaker }}
  <h3>Lieu</h3>
  {{ post.location }}

  <h3>Résumé</h3>
  <p>
    {{ post.content }}
  </p>
</div>
