---
layout: default
permalink: /platform/
---

<div class="container">

  
<div id="panel-sections" class="container-fluid">
    <div id="sections" class="centered">
    <div class="row-fluid">
    {% assign sorted_platform_projects = (site.categories.platform-project | sort: 'pid') %}
	{% for post in sorted_platform_projects %}
            <div class="col-md-3" style="padding-top:30px;text-align:center;">
                <a class="hvr-bounce-in" href="#{{ post.name }}">
                <img style="max-width:33%" src="{{ post.logo }}">
                </a>
                <h3>{{ post.title }}</h3>
            </div>
	{% endfor %}
    </div>
    </div>
</div>
</div>
    <br>
    {% assign sorted_platform_projects = (site.categories.platform-project | sort: 'pid') %}
	{% for post in sorted_platform_projects %}
    <span class="anchor" id="{{post.name}}"></span>
    <div id="panel-platform-{{ post.pid }}" class="container-fluid">
    <div class="row-fluid">
    <div id="panel-project" class="container-fluid" style="padding-top:30px">
        <p>{{ post.content }}</p>
    </div>
    </div>
    </div>
	{% endfor %}
</div>
