---
layout: default
permalink: /training/
---

<div class="container">

<div id="panel-sections" class="container-fluid">
    <div id="sections" class="centered">
    <div class="row-fluid">
    {% assign sorted_formations = (site.categories.formation | sort: 'pid') %}
    {% for post in sorted_formations %}
            <div class="col-md-3" style="padding-top:30px;text-align:center;">
                <a class="hvr-bounce-in" href="#{{ post.name }}">
                <img style="max-width:33%" src="{{ post.logo }}">
                </a>
                <h3>{{ post.title }}</h3>
            </div>
    {% endfor %}
    </div>
    </div>
</div>
</div>

<br/>
{% assign sorted_formations = (site.categories.formation | sort: 'pid') %}
{% for post in sorted_formations %}
<span class="anchor" id="{{post.name}}"></span>
<div id="panel-formation-{{ post.pid }}" class="container-fluid" style="padding-bottom:20px;{% cycle 'background-color:#eeeeee;', '' %}" >
  <!--<div id="panel-project" class="container-fluid" style="padding-bottom:20px">-->
  <div class="row-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p>{{ post.content }}</p>
    </div>
    <div class="col-md-1"></div>
  </div>
<!--</div>-->
</div>
{% endfor %}
</div>

<!--
<div class="container" style="padding-top:50px">
	<div class="row">
		<p>Cemosis se veut un support à la recherche, l'enseignement et l'industrie. C'est donc tout naturellement qu'une part de son activité concerne la formation, que ce soit des étudiants, des chercheurs ou encore du monde industriel.</p>
		<p>Cemosis héberge plusieurs formations (Outils informatiques pour le calcul et la visualisation scientifique, Méthode élément fini: théorie, méthodologie, programmation et applications.) et encadre des <a href="/training/student/">projets étudiants</a>.</p>
        <p><a href="/presentation/index.html#Ancel">Alexandre Ancel</a> et <a href="/presentation/index.html#Huber">Vincent Huber</a> participent à l'enseignement au sein de l'antenne de Strasbourg de l'<a href="http://www.ensiie.fr">ENSIIE</a>. Depuis 2013, <a href="/presentation/index.html#Huber">Vincent Huber</a> enseigne le cours d'analyse numérique (MAN) en première année. <a href="/presentation/index.html#Ancel">Alexandre Ancel</a> enseigne depuis 2015, les cours d'interpréteur de commandes (IIC), de programmation système (IFN) et de programmation réseau (IRE) en première année.<p>

		<hr class="style">
		<center style="padding-top:30px">
		<a href="http://csmi.math.unistra.fr/" target="_blank" class="btn btn-default btn-lg hvr-underline-from-center">Master Calcul Scientifique et Mathématiques de l'Information</a>
		</center>

		<div class="col-md-2"></div>
		<div class="col-md-8" style="padding-top:30px">

		<div class="btn-group btn-group-justified" role="group">
			<a href="/training/student/" class="btn btn-default btn-lg hvr-underline-from-center">Formations étudiantes</a>
			<a href="/training/continuing-education/" class="btn btn-default btn-lg hvr-underline-from-center">Formations continues</a>
		</div>
		</div>
		<div class="col-md-2"></div>

	</div>
</div>
-->
