---
layout: default
permalink: /presentation/funding/
---

<div class="container">
	<div class="row">
		<h4>Financements</h4>
		<p>Cemosis est financé d'une part par l'IDEX de Strasbourg et le LABEX IRMIA et d'autre part au travers des différents projets qui l'animent.</p>
		<br/>
		
		{% for funder in site.data.funding.funding %}
			<p>{{ funder.name }}</p>
			{{ funder.detail }}


			{% if funder == site.data.funding.funding.last %}
			{% else %}
			<hr>
			{% endif %}
		{% endfor %}
		
	</div>
</div>