<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="Site">

    {% include header.html %}

    <main class="Site-content">

    {% include common.html %}

        {{ content }}

    {% include script.html %}
    
    </main>
    
    {% include footer.html %}

        <!-- read more option's code, using Readmore.js -->
    <script type="text/javascript">
    <!--$(document).ready(function() {-->
        $('.read-more').readmore({
            collapsedHeight: 60,
            lessLink: '<a href="#">[Lire moins]</a>',
            moreLink: '<a href="#">[Lire plus]</a>'
        });
    <!--});-->
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        
      });
    </script>

  </body>

</html>
