<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="Site">

    {% include header.html %}

    <main class="Site-content">

    {% include common.html %}

    {% include index-body.html %}

    {% include script.html %}

<!-- fullpage scroll -->
<script>
$(document).ready(function() {
    $('#fullpage').fullpage({
        scrollBar: true,
        navigation: true,
        navigationPosition: 'right',
        sectionsColor: ['', '#eeeeee', '', '', ''],
        responsiveWidth: 900,
        css3: true,
        loopBottom: false,
        loopTop: false,
        fitToSection: true,
        fitToSectionDelay: 1000,
        normalScrollElements: '#intro-section-bis'
        });
});
</script>

<!-- slideshow -->
<script>
  jQuery(document).ready(function($) {
     var _CaptionTransitions = [];
            _CaptionTransitions["MCLIP|B"] = { $Duration: 600, $Clip: 8, $Move: true, $Easing: $JssorEasing$.$EaseOutExpo };

    var options = {
      $FillMode: 5,
      //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
      $DragOrientation: 1,
      //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
      $AutoPlay: true,
      //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
      $AutoPlayInterval: 3000,
      //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
      $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$,
                $ChanceToShow: 2,
                $AutoCenter: 2
            },
      $BulletNavigatorOptions: {
          $Class: $JssorBulletNavigator$,
          $ChanceToShow: 2,
          $AutoCenter: 1,
          $Steps: 1,
          //[Optional] Steps to go for each navigation request, default value is 1
          $Lanes: 1,
          //[Optional] Specify lanes to arrange items, default value is 1
          $SpacingX: 10,
          //[Optional] Horizontal space between each item in pixel, default value is 0
          $SpacingY: 10,
          //[Optional] Vertical space between each item in pixel, default value is 0
      },
      $CaptionSliderOptions: {                            //[Optional] Options which specifies how to animate caption
                    $Class: $JssorCaptionSlider$,
                    //[Required] Class to create instance to animate caption
                    $CaptionTransitions: _CaptionTransitions,
                    //[Required] An array of caption transitions to play caption, see caption transition section at jssor slideshow transition builder
                    $PlayInMode: 1,
                    //[Optional] 0 None (no play), 1 Chain (goes after main slide), 3 Chain Flatten (goes after main slide and flatten all caption animations), default value is 1
                    $PlayOutMode: 3
                    //[Optional] 0 None (no play), 1 Chain (goes before main slide), 3 Chain Flatten (goes before main slide and flatten all caption animations), default value is 1
      }
    };

    var jssor_slider = new $JssorSlider$("slider_container", options);

    //responsive code begin
    //while window resizes
    function ScaleSlider() {
        var parentWidth = $('#slider_container').parent().width();
        if (parentWidth) {
            jssor_slider.$ScaleWidth(parentWidth);
        }
        else
            window.setTimeout(ScaleSlider, 30);
    }
    //Scale slider after document ready
    ScaleSlider();
                                    
    //Scale slider while window load/resize/orientationchange.
    $(window).bind("load", ScaleSlider);
    $(window).bind("resize", ScaleSlider);
    $(window).bind("orientationchange", ScaleSlider);
    //responsive code end
  });
</script>

<!-- news list -->
<script>
  $(document).ready(function(){
    /*jQuery('#gallery').slippry({
      adaptiveHeight: false,
      slideshow: true,
      loop: true
    });*/
    jQuery('.news-list').slippry({
      controls: false,
    });
  });
</script>


    </main>

    {% include footer.html %}

  </body>

</html>
