---
layout: default
---
<div class="container">
<div class="row">
	<div class="letter" style="margin-top:80px;margin-bottom:80px">
    <h3>{{ page.name }}</h3>
    <hr class="style">

    <h4>{{ page.title }}</h4>


    {% if site.tags[page.project]  %}
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div id="news" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Actualités</h3>
      </div>
      <div class="list-group">
        {% for post in site.tags[page.project]  %}
        <a class="list-group-item" href="{{ post.url }}">[{% include post-date-fr.html %}]  {{ post.title }}</a>
        {% endfor %}
      </div>
      
    </div>
      </div>
      <div class="col-md-2"></div>
      </div>
    {% endif %}

    {{ content }}

    
   	</div>

</div>

</div>
